# Ignore environment variables file
.env

#Ignore venv files
.venv/
venv/

#chatbot html
chatbot.html
test.html
test.ipynb
test.py



venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.git/
.env
*.log
*.db
.ipynb_checkpoints/